<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.goods.mapper.GoodsMapper">
    
    <resultMap type="Goods" id="GoodsResult">
        <result property="goodId"    column="good_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="goodName"    column="good_name"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="membersPrice"    column="members_price"    />
        <result property="picture"    column="picture"    />
        <result property="goodInventory"    column="good_inventory"    />
        <result property="status"    column="status"    />
        <result property="sales"    column="sales"    />
        <result property="goodsWeight"    column="goods_weight"    />
    </resultMap>

    <sql id="selectGoodsVo">
        select good_id, category_id, good_name, original_price, members_price, picture, good_inventory, status, sales, goods_weight from goods
    </sql>

    <select id="selectGoodsList" parameterType="Goods" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        <where>  
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="goodName != null  and goodName != ''"> and good_name like concat('%', #{goodName}, '%')</if>
            <if test="originalPrice != null "> and original_price = #{originalPrice}</if>
            <if test="membersPrice != null "> and members_price = #{membersPrice}</if>
            <if test="picture != null  and picture != ''"> and picture = #{picture}</if>
            <if test="goodInventory != null "> and good_inventory = #{goodInventory}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="sales != null "> and sales = #{sales}</if>
            <if test="goodsWeight != null "> and goods_weight = #{goodsWeight}</if>
        </where>
        order by goods_weight desc
    </select>
    
    <select id="selectGoodsById" parameterType="Long" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        where good_id = #{goodId}
    </select>
        
    <insert id="insertGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="goodId">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">category_id,</if>
            <if test="goodName != null  and goodName != ''">good_name,</if>
            <if test="originalPrice != null ">original_price,</if>
            <if test="membersPrice != null ">members_price,</if>
            <if test="picture != null  and picture != ''">picture,</if>
            <if test="goodInventory != null ">good_inventory,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="sales != null ">sales,</if>
            <if test="goodsWeight != null ">goods_weight,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="goodName != null  and goodName != ''">#{goodName},</if>
            <if test="originalPrice != null ">#{originalPrice},</if>
            <if test="membersPrice != null ">#{membersPrice},</if>
            <if test="picture != null  and picture != ''">#{picture},</if>
            <if test="goodInventory != null ">#{goodInventory},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="sales != null ">#{sales},</if>
            <if test="goodsWeight != null ">#{goodsWeight},</if>
         </trim>
    </insert>

    <update id="updateGoods" parameterType="Goods">
        update goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null ">category_id = #{categoryId},</if>
            <if test="goodName != null  and goodName != ''">good_name = #{goodName},</if>
            <if test="originalPrice != null ">original_price = #{originalPrice},</if>
            <if test="membersPrice != null ">members_price = #{membersPrice},</if>
            <if test="picture != null  and picture != ''">picture = #{picture},</if>
            <if test="goodInventory != null ">good_inventory = #{goodInventory},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="sales != null ">sales = #{sales},</if>
            <if test="goodsWeight != null ">goods_weight = #{goodsWeight},</if>
        </trim>
        where good_id = #{goodId}
    </update>

    <delete id="deleteGoodsById" parameterType="Long">
        delete from goods where good_id = #{goodId}
    </delete>

    <delete id="deleteGoodsByIds" parameterType="String">
        delete from goods where good_id in 
        <foreach item="goodId" collection="array" open="(" separator="," close=")">
            #{goodId}
        </foreach>
    </delete>
    
</mapper>