<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增商品(goods)')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-goods-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品类别id：</label>
                <div class="col-sm-8">
                    <select name="categoryId" class="form-control m-b" th:with="type=${@dict.getType('goods_category_id')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品名称：</label>
                <div class="col-sm-8">
                    <input name="goodName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">原价：</label>
                <div class="col-sm-8">
                    <input name="originalPrice" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">会员价：</label>
                <div class="col-sm-8">
                    <input name="membersPrice" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品图片上传：</label>
                <div class="col-sm-8">
                    <input name="picture" class="form-control" type="file">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">库存：</label>
                <div class="col-sm-8">
                    <input name="goodInventory" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态 0 上架,1下架：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('goods_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销量：</label>
                <div class="col-sm-8">
                    <input name="sales" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品权重：</label>
                <div class="col-sm-8">
                    <input name="goodsWeight" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "goods/goods"
        $("#form-goods-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                uploadFile();
            }
        }

        function uploadFile() {
            var formData = new FormData();
            if ($("[name='picture']")[0].files[0] == null) {
                $.modal.alertWarning("请选择图片路径");
                return false;
            }
            formData.append('categoryId', $("[name='categoryId']").val());
            formData.append('picture', $("[name='picture']")[0].files[0]);
            formData.append('goodName', $("[name='goodName']").val());
            formData.append('originalPrice', $("[name='originalPrice']").val());
            formData.append('membersPrice', $("[name='membersPrice']").val());
            formData.append('goodInventory', $("[name='goodInventory']").val());
            formData.append('goodsWeight', $("[name='goodsWeight']").val());
            formData.append('sales', $("[name='sales']").val());
            formData.append('status', $("[name='status']").val());
            $.ajax({
                url: prefix + "/add",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function(result){
                    $.operate.successCallback(result);
                }
            })
        }
    </script>
</body>
</html>